

.wrapper {
            position:relative;
            max-width:1427.766px;
            min-width:600px;
            margin-left:222.234px;
            margin-top: 50px;
        }
        .notice-menu{
            display:flex;
            flex-direction:row;
            column-gap:30px;
            justify-content: end;
        }
        .notice-menu a {
            text-decoration: none; /* 밑줄 제거 */
            background-color: #777; /* 회색 배경 */
            color: #fff; /* 흰색 글자색 */
            padding: 8px 16px; /* 내부 여백 조절 */
            border-radius: 4px; /* 모서리 둥글게 */
            transition: background-color 0.3s, color 0.3s; /* 배경 및 글자색 변화에 대한 전환 효과 */
        }

        .notice-menu a:hover {
            background-color: #555; /* 마우스 호버시 약간 더 어둡게 */
        }
        .img-menu {
            background-color: rgba(128, 128, 128, 0.5);
            margin-top:60px;
            display: flex;
            flex-wrap: wrap; /* 요소들을 여러 줄에 걸쳐 표시 */
            justify-content: space-between;
            align-items: center;
            column-gap: 30px; /* 각 열 사이의 간격 설정 */
            border-radius: 20px;
            padding-top:50px;
            padding-bottom:50px;
        }
        .img-menu .bi{

            width:30px;
            height:30px;
            font-size: 2em; /* 아이콘의 크기를 현재 크기의 4배로 설정합니다. */
            color: white; /* 아이콘의 색상을 하얀색으로 설정합니다. */
        }
        .bi.arrow-left-square,
        .bi.arrow-right-square {

        }

        .img-box {
            color: white; text-align:center; font-size:14px;
            padding-top:30px;
            width: 200px;
            height: 400px;
            background-size: cover; /* 배경 이미지를 화면에 꽉 채우도록 설정합니다. */
            background-position: center; /* 배경 이미지를 가운데 정렬합니다. */
            border-radius : 10px;
        }



/*---------------------------------------------*/
form.box {
    width: 80%; /* 화면 가로축의 80%를 차지 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}
.header{
    height:100px;
    margin-top:50px;
    display:flex;
}
.header div {
    margin-top: 50px;
    height: 50px;
    width: 150px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s; /* 호버 효과에 트랜지션 효과 적용 */
    cursor:pointer;
    margin-right:50px;
}

.header div a {
    font-size: 20px;
    font-family: 'LINE Seed Sans KR';
    text-decoration: none;
}

.header div:hover {
    color: black; /* 호버 시 글자색을 검정색으로 변경 */
    background-color: white; /* 호버 시 배경색을 흰색으로 변경 */
}