<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

    <div layout:fragment="content" id="main">

        <div class="write-box" th:if="${session.user != null}">
            <a th:href="@{/notebook/write}">상품등록</a>
        </div>

        <div id="item-list-box">
            <h2>판매 상품 목록</h2>
            <table>
                <tr>
                    <th>번호</th> <th>상품명</th>
                    <th>판매가격</th> <th>등록일</th>
                    <th>판매자</th>
                </tr>
                <tbody th:each="item : ${itemDtoList}">
                    <tr>
                        <td th:text="${item.id}"></td>
                        <td>
<!--                            <a th:href="@{/notebook/detail/{itemId}(itemId=${item.id})}" th:text="${item.itemName}"></a>-->
                            <a th:href="@{ |/notebook/detail/${item.id}| " th:text="${item.itemName}"></a>
                        </td>
                        <td th:text="${#numbers.formatInteger(item.cost,3,'COMMA')+'원'}"></td>
                        <td th:text="${#temporals.format(item.regDate,'yy-MM.dd')}"></td>
                        <td th:text="${item.seller}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" >
                            <ul style="display:flex; column-gap:15px; justify-content:center;">
                                <li th:each="pnum : ${#numbers.sequence(1, totalPage)}">
                                    <th:block th:if="${pnum-1 == page}">
                                        <b th:text="${pnum}"></b>
                                    </th:block>
                                    <th:block th:if="${pnum -1 != page }">
                                        <a th:href="@{'/notebook?page=' + ${pnum -1} }" th:text="${pnum}"></a>
                                    </th:block>
                                </li>
                            </ul>

                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</html>
