<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/info.css}">
</th:block>
<th:block layout:fragment="script">

</th:block>
<div layout:fragment="content" id="main">
    <form method="post" id="signFm" th:object="${ItemDto}" th:action="@{/}">
    <ul id="info_list">
        <li>
            <span>이메일</span>
            <b th:text="${ItemDto.email}"></b>
        </li>
        <li>
            <span>이름</span>
            <b th:text="${ItemDto.name}"></b>
        </li>
        <li>
            <span>브랜드</span>
            <b th:text="${ItemDto.brand}"></b>
        </li>
    </ul>
    </form>
</div>


</html>