<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{javascript/index.js}"></script>
    <script th:src="@{javascript/default.js}"></script>
</th:block>

<div layout:fragment="content" id="main">
    <div id="main_list">
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=1">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=2">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=3">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=4">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=5">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=6">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=7">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=8">
        </div>
        <div class="image_box">
            <img src="https://loremflickr.com/250/250/korea?random=9">
        </div>
    </div>
</div>

</html>