<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/info.css}">
</th:block>
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content" id="main">
    <h2>기본 정보</h2>
    <ul id="info_list">
        <li>
            <span>이메일</span>
            <b th:text="${myInfoDto.email}"></b>
        </li>
        <li>
            <span>이름</span>
            <b th:text="${myInfoDto.name}"></b>
        </li>
        <li>
            <span>이메일</span>
            <b th:text="${myInfoDto.tel}"></b>
        </li>
    </ul>

    <div id="login-history">
        <h2> 로그인 기록</h2>
        <ul id="login-title">
            <li class="num">번호</li>
            <li class="ip">ip주소</li>
            <li class="date">로그인 날짜</li>
        </ul>
        <div th:each="history, stat : ${myInfoDto.loginHistoryEntityList}">
            <ul class="login">
                <li class="num" th:text="${stat.count}"></li>
                <li class="ip" th:text="${history.ipAddr}"></li>
                <li class="date" th:text="${#temporals.format(history.loginDate,'yyyy.MM.dd HH:mm')}"></li>
            </ul>
        </div>
    </div>
<!--
    상태정보변수(stat) .index - 현재 반복 인텍스 표시(0부터 시작)
                     .count - 현재 반복 인덱스 표시(1부터 시작)
                     .size - 총 개수
                     .current - 현재 몇 번째
                     .even - 현재 반복이 짝수인지 여부
                     .odd - 현재 반복이 홀수인지 여부
                     .first - 현재 반복이 첫번째인지 여부
                     .last - 현재 반복이 마지막인지 여부
    -->
</div>

</html>