<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFrag" id="header">
    <ul class="menu_list">
        <li class="menu"><a href="">HOME</a></li>
        <li class="menu"><a href="">가구</a></li>
        <li class="menu"><a href="">가전</a></li>
        <li class="menu"><a href="">노트북</a></li>
    </ul>

    <div class="small_menu">

        <th:block th:if="${session.user == null}">
            <span class="befLogin"><a href="/members/login">로그인</a></span>
            <span class="befLogin"><a href="/signup">회원가입</a></span>
        </th:block>
        <th:block th:if="${session.user !=null}">
            <span class="loginUser" ><a href="#" th:text="${session.user.name}"></a></span>
            <span class="loginUser" style="display: none;"><a href="/myinfo">마이정보</a></span>
            <span class="loginUser" style="display: none;"><a href="/logout">로그아웃</a></span>
        </th:block>
    </div>

</div>
</html>