/*메인 디자인------------------------------------------------------------------*/
#content{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.main_text{
    color:white;
    display:flex;
    align-items:center;
    width:100%;
    justify-content:center;
}
.start:hover{
    background-color: #29FFCC !important;
}
:-webkit-scrollbar {
    background-color: none; /* 스크롤 바 배경색 */
}

::-webkit-scrollbar-thumb {
    background-color: none; /* 스크롤 바 색상 */
}