
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>테스트 페이지입니다.</h2>
    <h3 th:text="${msg}"></h3>

    <ul th:each="n : ${name}">
        <li th:if="${n!='이순신'}" th:text="${n}" > </li>
    </ul>

    <div th:switch="${age/10}">
        <p th:case="1"> 10대입니다.</p>
        <p th:case="2"> 20대입니다.</p>
        <p th:case="3"> 30대입니다.</p>
        <p th:case="4"> 40대입니다.</p>
    </div>

<table th:object="${testMember}">
    <tr>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td th:text="*{age}"></td>
    </tr>
    <tr>
        <td th:text="*{email}"></td>
    </tr>

</table>
    <form th:object="${testMember}">
        <input th:value="*{name}" th:field="*{name}">
        <input th:value="*{age}" th:field="*{age}">
        <input th:value="*{email}" th:field="*{email}">
        <input th:value="*{tel}" th:field="*{tel}">

    </form>


</body>
</html>

<!--
    thymeleaf
    ${} : 변수   th:text=${a}, <input th:value=${b} >
    @{} : url 링크 표현식  <a th:href="@{/css/test.css}">
                         -> <a href="/css/test.css>

    *{} : 선택 변수  item이라는 객체에 인스턴스변수 a,b 가 있다면
                    a라는 변수 출력하려면 item.a 라고 해야하지만
                    <tr th:object="${item} ">
                          <td th:text=" *{a} ">
    #{} : 메시지, properties에 있는 값을 표현할 때 사용
               th:text=" #{m.reg} "

    문법
        반복문 th:each
            예시) items라는 배열에 {1,2,3,4,5}가 있다면
            <ul>
                <li th:each="num : ${items}> ${num} </li>
            </ul>
            자바 -> for(int num : items){
                System.out.println( num );
            }
        조건문 th:if , th:unless, 삼항연산자
        예시) number라는 변수에 10이 저장되어있다면
            <p th:if="#{number > 5}"> 5보다 크다</p>
            <p th:unless="5보다 작다"></p>

            화면 출력하면 첫번째 5보다 크다만 출력
            if 와 else 처럼 사용한다.

            if( number > 5){
             syso("5보다 크다");
            }else{
             syso("5보다 작다");
            }


            <div th:text=" ${number == 10 ? '10이다' : '10이 아니다'} "> </div>

           출력 th:text, th:utext, th:value
           model.addAttribute("a", "<p>ㅎㅎㅎ</p>"); 라면

           <div th:text="${a}"> </div> -> <p>ㅎㅎㅎ</p>
           <div th:utext="${a}"> </div> ->  ㅎㅎㅎ

          변수 th:with
          <div th:with="a='ㄴㄴㄴ'" th:text="${a}"> </div>
            with로 생성된 변수의 사용 범위 : 생성된 태그의 하위 태그에서만 가능

           조건문 th:switch - switch~case 문 동작
           <div th:switch=" ${user} ">
                <p th:case="admin"> 관리자입니다. </p>
                <p th:case="normal"> 일반 유저입니다.</p>
           </div>

           타임리프 내부 주석
           <!--/*  */-->

-->