<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/basic}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/scheduler/scheduler.css}">
    <link rel="stylesheet" th:href="@{/css/scheduler/third.css}">
</th:block>

<th:block layout:fragment="script">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module"  src="/javascript/scheduler/map.js"></script>
    <script type="module"  src="/javascript/scheduler/third.js"></script>
    <!-- jQuery를 사용하여 버튼 클릭 이벤트 처리 -->
</th:block>

<div layout:fragment="content">
    <form th:action="@{/schedulers/fifth}" th:object="${schedulerDto}" method="post" class="box">
        <input type="hidden" id="national">
        <input type="hidden" id="city">
        <div id="calendar" style="height:45px; width:100%;display:flex;position:absolute;top:105px;">
            <input type="text" id="input1_header" readonly th:text="${schedulerDto.trip_duration_start}" style="padding-top:8px;font-family:LINE Seed Sans KR; font-weight:bold;width:80px;text-align:center;font-size:20px;background-color:transparent;border:none;color:white;margin-left:1200px;">
            <p style="padding-top:8px;font-family:LINE Seed Sans KR; font-weight:bold;width:80px;text-align:center;font-size:20px;background-color:transparent;border:none;color:white;"> - </p>
            <input type="text" id="input2_header" readonly th:text="${schedulerDto.trip_duration_end}" style="padding-top:8px;font-family:LINE Seed Sans KR; font-weight:bold;width:80px;text-align:center;font-size:20px;background-color:transparent;border:none;color:white;">
            <p id="weekday_display" style="font-family:LINE Seed Sans KR; font-weight:bold;width:auto;text-align:center;font-size:20px;background-color:transparent;border:none;color:white;"></p>
        </div>

        <div style="width:89%;display:flex;justify-content:space-around;align-items:center;">

            <div id="map" style="width:650px;height:650px;margin:100px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKfXUB5b-aS6hLNA93HhTe6UNIqXZkizs&callback=initMap&v=weekly" defer></script>

            <div style="width:800px;height:100%;display:flex;justify-content:start;flex-wrap:wrap;align-items:center;">
                <p style="height:80px;width:100%;font-size:20px;font-family:LINE Seed Sans KR;font-weight:bold;display:flex;justify-content:center; align-items:center;color:white;">선택한 관광지</p>
                <div id="button_item_box" style="display:flex; flex-direction:column;">

                    <div id="button_box" style="display: flex; justify-content: center; width:100%">
                        <button id="location1_button" type="button" style="width:50%; height:50px; border-radius:8px;">명소</button>
                        <button id="location2_button" type="button" style="width:50%; height:50px; border-radius:8px;">식당</button>
                    </div>

                    <div id="selectItem" style="width:600px; height:150px;display:flex;justify-content:center;align-items:center;background-color:white;">

                    </div>
                </div>

                <div style="height:100px;width:600px;display:flex;justify-content:center;align-items:center;">
                    <div style="width:500px;height:50px;display:flex;align-items:center;background-color:#004392;border:3px solid white;border-radius:10px;">
                        <input style="width:100%;height:100%;border:none;" type="text" id="locationInput" placeholder="원하시는 특징 또는 이름을 검색하세요">
                        <button style="width:70px;height:100%;color:white;font-size:30px;font-weight:bold;background:black;border-left:1px solid white;border-top-right-radius: 10px;border-bottom-right-radius: 10px;" type="button" onclick="searchLocation()"><i class="bi bi-search"></i></button>
                    </div>
                </div>

                <div id="lcBox">
                    <div id="locationList">
                        <div th:each="spot : ${adminItemEntity}" th:if="${spot != null}" class="contents" th:attr="data-content-type=${spot.contentType}" style="height:115px;width:500px; display:flex; justify-content:left; align-items:center; border-radius:10px;background-color: rgba(0, 117, 255, 0.5); margin-bottom:10px;">
                            <div th:style="'margin:10px; border-radius:8px; width:120px; height:100px; background-image: url(' + ${spot.imgUrl} + '); background-position:center; background-size:cover;'"></div>
                            <div style="display:flex; justify-content:start;flex-wrap:wrap; padding-right:20px;width:450px;">
                                <label th:text="${spot.touristSpotName}" style="font-size:20px;font-weight:bold;width:100%;color:white;overflow:none;" for="locationCheckBox1"></label>
                                <p th:text="${spot.features}" style="color:white;font-size:15px;"></p>
                            </div>
                            <input style="width:50px;margin: auto 0;" type="checkbox" id="locationCheckBox1">
                        </div>
                    </div>
                </div>
                <!--<div id="SelectLocationBox" style="display:none;position:absolute;"> &lt;!&ndash; 숨겨진 영역 &ndash;&gt;
                    <input type="hidden" id="selectedLocations" name="selectedLocations" th:value="${schedulerDto.selectedLocations}">
                </div>-->
            </div>
        </div>

        <div style="width:11%;height:100%;background:#000A67;display:flex;justify-content:center;align-items:end;">
            <div style="cursor:pointer;width:150px;height:80px;background-color:white;border-radius:10px;font-size:30px;font-family:LINE Seed Sans KR;font-weight:bold; display:flex;justify-content:center;align-items:center;margin-bottom:30px;">
                <button type="button" onclick="saveSelectedLocations()" style="background-color: white; border: none; cursor: pointer;">Next</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
    // "명소" 버튼 클릭 시 '명소' 타입의 관광지 목록 표시
    $("#location1_button").click(function() {
        $(".contents").each(function() {
            if ($(this).attr("data-content-type") === "명소") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    // "식당" 버튼 클릭 시 '식당' 타입의 관광지 목록 표시
    $("#location2_button").click(function() {
        $(".contents").each(function() {
            if ($(this).attr("data-content-type") === "식당") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    // 체크박스를 클릭할 때 이벤트 처리
        $(document).on('change', "input[type='checkbox']", function() {
    if ($(this).is(":checked")) {
        var touristSpotName = $(this).siblings("label").text();
        var selectedText = '<div style="margin: 10px; font-size: 20px; font-weight: bold; color: black;">' + touristSpotName + '</div>';
        $("#selectItem").append(selectedText);
    } else {
        var removedText = $(this).siblings("label").text();
        $("#selectItem div:contains('" + removedText + "')").remove();
    }
    });

});
</script>

</html>