<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Local Detail Manage</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminhub/adminhub.css">
    <link rel="stylesheet" href="/css/adminhub/localDetail.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
               // 현재 주소 가져오기
               var currentUrl = new URL(window.location.href);

               // 명소 링크 설정
               var touristSpotLink = document.getElementById('touristSpotLink');
               touristSpotLink.href = createNewUrl(currentUrl, 'content', '명소');

               // 식당 링크 설정
               var restaurantLink = document.getElementById('restaurantLink');
               restaurantLink.href = createNewUrl(currentUrl, 'content', '식당');

               // 숙박 링크 설정
               var accommodationLink = document.getElementById('accommodationLink');
               accommodationLink.href = createNewUrl(currentUrl, 'content', '숙박');

               // 모달 폼의 contentType input 요소에 content 파라미터 값을 설정
               var urlParams = new URLSearchParams(window.location.search);
               var contentValue = urlParams.get('content');
               var contentTypeInput = document.getElementById('contentType');
               if (contentTypeInput) {
                   contentTypeInput.value = contentValue;
               }
           });

           // 새로운 URL을 생성하는 함수
           function createNewUrl(currentUrl, paramName, paramValue) {
               // URL 객체를 복제하여 새로운 URL 객체 생성
               var newUrl = new URL(currentUrl);

               // 새로운 URL에 파라미터 추가 또는 대체
               newUrl.searchParams.set(paramName, paramValue);

               // 문자열 형태로 반환
               return newUrl.toString();
           }
    </script>
</head>

<body>
<div class="box">
    <div class="header">
        <a href="/" style="text-decoration:none;height:75px; margin-right:300px; font-size:50px; font-style:bold; color:#93EBFF;text-align:right; font-family: 'Bauhaus 93';">TravelGenius</a>
        <div style="color: black; background-color: white;"><a href="/admin/first">상품관리목록</a></div>
        <div><a href="/admin/eventCustom">이벤트관리</a></div>
    </div>

    <div class="content" >
        <div class="content_box">
            <div class="local_plus">
                <button style="border:0;width:100%;height:100%;background:none;font-size:50px;display:flex;justify-content:center;align-items:center;" type="button" class="btn btn-primary open-modal" data-bs-toggle="modal" data-bs-target="#myModal">+</button>
            </div>
            <div class="local_block" th:each="item : ${adminItemEntity}" th:if="${adminItemEntity != null}" th:style="'background-image: url(' + ${item.imgUrl} + ');'" th:attr="data-item-id=${item.id}">
                <button class="btn btn-danger delete-btn">삭제</button>
                <form th:action="@{/admin/item/{itemId}(itemId=${item.id})}" method="POST">
                    <button class="block_detail" style="background:black; color:white; border-radius:10px; padding:5px;" th:text="${item.touristSpotName}"></button>
                </form>
            </div>

        </div>
    </div>

    <div class="select_content">
        <!-- 명소 링크 -->
        <div class="content_block">
            <a id="touristSpotLink" href="#">명소</a>
        </div>

        <!-- 식당 링크 -->
        <div class="content_block">
            <a id="restaurantLink" href="#">식당</a>
        </div>

        <!-- 숙박 링크 -->
        <div class="content_block">
            <a id="accommodationLink" href="#">숙박</a>
        </div>
    </div>


    <form th:action="@{/admin/item}" method="POST"  id="parentForm" enctype="multipart/form-data" th:object="${adminItemDto}">
        <!-- 모달 -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" method="post" enctype="multipart/form-data" id="modalForm">
                        <div class="modal-header">
                            <!-- 닫기 버튼을 오른쪽에 배치 -->
                            <button type="button" class="close-btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal_input">
                                <input type="hidden" id="contentType" name="contentType" th:field="*{contentType}">
                                <input type="hidden" th:if="${localEntity != null}" name="localEntityId" th:value="${localEntity.id}">
                                <div style="height: 400px; display: flex; justify-content: center; align-items: center;">
                                    <input type="file" name="imageFile" id="imageInput" accept="image/*" style="width: 100%;">
                                </div>
                                <div style="flex: 1; width: 100%; border-top: 1px solid black; display: flex; justify-content: center; align-items: center;">
                                    <input id="InputFeatures" style="width: 100%; height: 100%; border: 0; padding: 10px; box-sizing: border-box; text-align: center; background: white;" type="text" name="features" th:field="*{features}"placeholder="특징을 입력하세요">
                                </div>
                            </div>
                            <div class="modal_input">
                                <div style="margin: 20px 0;"><input type="text" id="touristSpotName" name="touristSpotName" th:field="*{touristSpotName}" placeholder="관광지명 입력"></div>
                                <div style="height: 70px; width: 100%; font-family: 'LINE Seed Sans KR'; display: flex; justify-content: center; flex-wrap: wrap; margin: 10px;">
                                    <p style="font-size: 30px; margin: 0;">주소 입력</p>
                                    <input type="text" id="modalAddress" name="address" th:field="*{address}" style="width: 100%; font-size: 15px;">
                                </div>
                                <div style="height: 70px; width: 100%; font-family: 'LINE Seed Sans KR'; display: flex; justify-content: center; flex-wrap: wrap; margin: 10px;">
                                    <p style="font-size: 30px; margin: 0;">연락처</p>
                                    <input type="text" name="contact" th:field="*{contact}" style="width: 100%; font-size: 15px;">
                                </div>
                                <div style="height: 270px; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <div style="width: 100%; height: 40px; margin: 10px 0; display: flex; justify-content: center;">
                                        <p style="font-size: 30px; text-align: center;">영업시간 입력</p>
                                    </div>
                                    <div style="width: 100%; height: 230px; padding: 20px auto;">
                                        <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                                            <div class="day-time-entry">
                                                <label>월요일</label>
                                                <input type="text" name="Mon" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>화요일</label>
                                                <input type="text" name="Tue" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>수요일</label>
                                                <input type="text" name="Wed" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>목요일</label>
                                                <input type="text" name="Thu" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>금요일</label>
                                                <input type="text" name="Fri" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>토요일</label>
                                                <input type="text" name="Sat" placeholder="00:00-00:00">
                                            </div>
                                            <div class="day-time-entry">
                                                <label>일요일</label>
                                                <input type="text" name="Sun" placeholder="00:00-00:00">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="saveModalBtn">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>

</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="/javascript/adminhub/localDetail.js"></script>


</body>

</html>